@import url(./_reset.css);

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 112.5px;
    padding-top: 41px;
    font-size: 16px;
    cursor: pointer;
}

header nav a {
    color: #222;
    padding: 12px;
}

.fa-bars{
    display: none;

}
    
@media(max-width:930px){
    .fa-bars{
        display: flex;
    }

    nav{
        display: none;
    }
}